* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --main-color: #1DB954;
  --white: #fff;
  --black: #333;
  --font: 'Montserrat', sans-serif;
}

/* body {
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
html {
    height:100%;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: scroll;
}

.mycontainer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 25px;
  position: relative;
}

h1 {
  color: var(--main-color);
  text-align: center;
  font-family: var(--font);
  font-weight: bold;
}

h2 {
  color: var(--white);
  text-align: left;
  font-family: var(--font);
  display: inline;
  overflow: hidden;
}

a:link{
  text-decoration: none;
  color: var(--white);
}

a:hover{
  text-decoration: underline;
  color: var(--white);
}

/* Ordered list
============================================== */
#search{
  background-color: var(--black);
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
ol, ul {
  list-style-type: none;
}

li {
  margin: 5px;
  padding: 35px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* Button
=============================================== */
div.button {
  font-family: var(--font);
  font-weight: bold;
  flex-basis: 27%;
  margin-top: 5px;
}

div.buttonAddToQueue {
  font-family: var(--font);
  font-weight: bold;
  flex-basis: 27%;
  float: left;
  margin-right: 10px;
}

div.button a {
  background: var(--main-color);
  color: var(--white);
  bottom: 5px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: var(--font);
  border-radius: 15px;
}

div.buttonAddToQueue p {
  background: var(--main-color);
  color: var(--white);
  bottom: 5px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-family: var(--font);
	border-radius: 15px;
	text-decoration: none;
}

div.buttonAddToQueue p:hover{
  text-decoration: underline;
  color: var(--white);
}

/* Helpful
=============================================== */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

@media(min-width: 1000px){
  /*.mycontainer{
    width: 80%;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    left: 50%;
    margin-left: -40%;
  }*/
  #search, .srchbtn {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  div.buttonAddToQueue{
    margin-right: 0px;
    margin-top: 5px;
    float: right;
  }
}
@media(max-width: 500px){
  div.buttonAddToQueue{
    margin-bottom: 15px;
  }
}
